*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}


article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    background-color: #000;
}

.header-list {
    color: #fff;
    display: flex;
    margin-left: auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 480px) {
    .container {
        max-width: 480px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1400px;
        padding-right: 32px;
        padding-left: 32px;
    }
}




